version: "3.9"

services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ../src:/var/www/html
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - node
    networks:
      - app-network

  php:
    build: ./php
    container_name: php
    volumes:
      - ../src:/var/www/html
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_NAME: appdb
      DB_USER: appuser
      DB_PASSWORD: apppass
    networks:
      - app-network

  node:
    build:
      context: ../src/website/Table-time-Front-end
      dockerfile: Dockerfile
    container_name: node
    ports:
      - "3000:3000"
    working_dir: /app
    volumes:
        - ../src/website/Table-time-Front-end:/app
        - node_modules:/app/node_modules
    networks:
      - app-network

  phpunit:
    build: ./phpunit
    container_name: phpunit
    volumes:
      - ../src:/var/www/html
    depends_on:
      - php
    entrypoint: ["tail", "-f", "/dev/null"]
    networks:
      - app-network

  db:
    build: ./db
    container_name: db
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: appdb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
  node_modules: