@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

@theme {
    --font-jockey: 'Jockey One';
}

@layer base {

    body {
        @apply bg-[#F8F4EB] text-black;
    }

    nav {
        @apply w-[80%] bg-white border-3 border-[#03CAED] flex flex-row justify-between items-center p-4 rounded-[80px];
    }

    h2 {
        @apply underline text-[#03CAED] decoration-[#FF8000] text-[90px] font-jockey;
    }

    a {
        @apply text-[20px] font-jockey hover:text-[#FF8000]
    }
}

@layer components {
    form {
        @apply flex flex-col gap-4 w-[400px] m-auto mt-10 border-black border-2 p-6 rounded-[20px] bg-white;
    }
    label {
        @apply text-[20px] font-jockey border-b-2 border-black;
    }
    input, select {
        @apply p-2 border-2 border-black rounded-[10px];
    }
}